/*@media screen and (max-width: 758px){}*/
img{
	width: 100%;
	height: auto;
	padding-left:30px;
	padding-bottom: 20px;
	padding-right: 30px;
}
.navegar{
	background:#333;
}
.pie{
	background: #555;
	width: 100%;
	height: 60px;

}
footer h5{
	padding-bottom: 30px;
	padding-left: 30px;
	width: 100%;
	height: auto;
}
#mobile-demo{
	background: #777;
}
