 {% extends "inicio.html" %}
{% load static%}
{%  block titulo %}
	Pagina
{% endblock titulo %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/CONTACTO.css' %}">


	<h2>CONTACTAR</h2>
	<link rel="stylesheet" href="css/estilo.css"/>
	<div class="formulario">
</head>
<body>
	{% if info_enviado %}
		<h2>la informacion suministrada es :</h2>
		<hr><b>{{email}}</b> <br/>
		{{title}} <br/>
		{{text}} <br/> 
		<hr>
	{% else %}
		<form action="" method="POST">
			{% csrf_token %}
			{{  formulario.as_p}}
			<input type="submit" name="submit">
		</form>
	{% endif %}
	</div>
{% endblock %}