
{% load static%}
{%  block titulo %}
<title>RECOMENDADAS</title>	
{% include 'head.html' %}
{% endblock titulo %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lista_recomendacion.css' %}">

<body>
	{% include 'navegation.html' %}
	
	<h4 >LISTA DE LAS PELICULAS RECOMENDADAS </h4>
	<div>
		<div class="row">
			{% for p in lista %}


			<div class="col s12 m6 l3 center-align">
				<div class="card large">
					<div class="card-image">
						<img src="/media/{{p.imga}}">
						<span class="card-title">{{p.rec_Nombre}}</span>
					</div>
					<div class="card-content">
						<p> Idioma :{{p.rec_idioma}}</p>
						Calidad :  {{p.rec_calidad}}
					</div>
					<div class="card-action">
						{%if user.is_staff %}
						<a 
						class="waves-effect waves-light btn" href="{% url 'vista_editar_recomendacion' id_rec=p.id %}"> Editar 
					</a>
					<a 
					class="waves-effect waves-light btn" href="{% url 'vista_eliminar_recomendacion' id_rec=p.id %}"> Eliminar
				</a>
				{%endif%}

			</div>
		</div>
	}
}
</div>
{% endfor %}
</div>

<br>
</div>
   {% include 'footer.html' %}
</body>
{% endblock %}
